<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Авторы</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>

  <header>
    <h1>Информация о книге "{{ book.name }}"</h1>
    <nav>
      <a href="/">Авторы</a> |
      <a href="/books">Книги</a> |
      {% if user %}
      <a href="/profile">Мой профиль ({{ user.username }})</a> |
      <a href="/logout">Выйти</a>
      {% else %}
      <a href="/login">Войти</a>
      <a href="/register">Зарегистрироваться</a>
      {% endif %}
    </nav>
  </header>

  <main>

    <section class="book-info">
      <img src="{{ book.img }}" alt="photo">
      <h2><strong>Название:</strong> {{ book.name }}</h2>
      <h2><strong>Автор:</strong> <a href="/author/{{ book.author.id }}">{{ book.author.name }}</a></h2>
      <h2>
        <strong>Жанры:</strong>
        {% for genre in book.genres %}
        {{ genre.name }}
        {% endfor %}
      </h2>
      <h2><strong>Описание:</strong> {{ book.description }}</h2>
    </section>





  </main>


</body>

</html>
